.header--thankyou {
  max-height: 100vh;
  padding: 1em 0;
  background-image: url(../img/whitepaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-primary-black;

  overflow: hidden;
}
